<section class="section">
  <div class="container">


    <form action="/register" method="post">
      <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control">


          <input class="input" id="username" name="username" placeholder="Username">
        </div>
      </div>
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input class="input" id="email" name="email" placeholder="Email">
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input class="input" id="password" name="password" placeholder="Password" type="password">
        </div>
      </div>
      <div class="field">
        <label class="label" for="passwordConfirmation">Confirm password</label>
        <div class="control">
          <input class="input" id="passwordConfirmation" name="passwordConfirmation" placeholder="Password Confirmation" type="password">
        </div>
      </div>
      <div class="field">
        <label class="label" for="profimage">ProfileImage</label>
        <div class="control">
          <input class="input" id="profimage" name="profimage" placeholder="ProfileImage">
        </div>
      </div>

      <button>Submit</button>
    </form>

  </div>
</section>
