<section class="section">
  <div class="container">

    <h1>Modify this image</h1>

    <form  action="/photos/<%= photo._id %>" method="post">
      <input type="hidden" name="_method" value="put">
      <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
          <input class="input" id="name" name="name" placeholder="Name" value="<%= photo.name %>" required minlength="2"/>
        </div>
      </div>

      <div class="field">
        <label class="label" for="image">Image source</label>
        <div class="control">
          <input class="input" id="image" name="image" placeholder="image" value="<%= photo.image %>" required pattern="^https?://.+" />
        </div>
      </div>
      <div class="centralizer">
        <button class="submit">Apply changes</button>
      </div>
    </form>

  </div>
</section>
