<div class="right-logo">
  <a href=>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/Peter_Griffin.png/220px-Peter_Griffin.png" alt="General Assembly" width="120" height="200">
  </a>

</div>
<div class="left-logo">
  <a href=>
    <img src="https://s.tcdn.co/837/98f/83798fe7-d57e-300a-93fa-561e3027691e/4.png" alt="General Assembly" width="120" height="200">
  </a>

</div>
<section class="section">
  <div class="container">
    <div class="home-head">
      <h1 class="title">
        InstaClone
      </h1>
      <h2 class="subtitle">
        An instagram clone
      </h2>

    </div>
    <div class="centralizer registration">
      <p>Register completing the following form</p>
    </div>



    <form action="/register" method="post">
      <div class="field centralizer">
        <label class="label centralizer" for="username">Username</label>
        <div class="control">


          <input class="input centralizer" id="username" name="username" placeholder="Username">
        </div>
      </div>
      <div class="field centralizer">
        <label class="label centralizer" for="email">Email</label>
        <div class="control">
          <input class="input centralizer" id="email" name="email" placeholder="Email">
        </div>
      </div>
      <div class="field centralizer">
        <label class="label centralizer" for="password">Password</label>
        <div class="control">
          <input class="input centralizer" id="password" name="password" placeholder="Password" type="password">
        </div>
      </div>
      <div class="field centralizer">
        <label class="label centralizer" for="passwordConfirmation">Confirm password</label>
        <div class="control">
          <input class="input centralizer" id="passwordConfirmation" name="passwordConfirmation" placeholder="Password Confirmation" type="password">
        </div>
      </div>
      <div class="field centralizer">
        <label class="label centralizer" for="profimage">ProfileImage</label>
        <div class="control">
          <input class="input centralizer" id="profimage" name="profimage" placeholder="ProfileImage">
        </div>
      </div>
      <div class="centralizer">
        <button class="submit">Register</button>
      </div>
    </form>
    <div class="centralizer loginer">
      <p>Else click <a href="/login">here</a> to login</p>
    </div>

  </div>
</section>
