<section class="section">
  <div class="container">

    <h1 class="title">Enter your credentials</h1>

    <form action="/login" method="post">
      <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input class="input" id="email" name="email" placeholder="Email">
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input class="input" id="password" name="password" placeholder="Password" type="password">
        </div>
      </div>
      <button>Submit</button>
    </form>
  </div>
</section>
